* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.8;
}

/* Global Class */


html {
    scroll-behavior: smooth;
}

header {
    padding: 30px 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 120px;
    background-color: cornsilk;
    color: rgb(45, 95, 187);
}

nav {
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    padding: 10px
}

img {
    margin: 10px;
    border-radius: 1em
}

footer {
    position: absolute;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background-color: cornflowerblue;
    font-size: larger;
    color: rgb(63, 35, 35);
}

section {
    padding: 2% 30px
}

/* custom styles */

nav a {
    text-decoration: none;
    margin: 0 20px;
    font-weight: 800;
    color: rgb(63, 35, 35);

}

header h1, p {
    font-weight: 600;
}

header p {
    margin-top: 7px;
}

a:hover {
    content: '';
    color: rgb(35, 4, 119);
} 

.about-me {
    background-color: cornsilk;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px;
}

.contact-info {
    background-color: cornsilk;
    color: black;
}

.hopes-class {
    background-color: rgb(9, 61, 158);
    color: cornsilk;
}

.hopes-class img, .contact-info img {
    max-width: 150px;
}


/* media query (hopefully) */

@media only screen and (max-width: 750px) {
    .hopes-class, .contact-info, .about-me {
        background-color: blueviolet;
    }
}